# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# 가상환경
venv/
.venv/
env/
ENV/

# =========================
# 패키지 / 빌드
# =========================
build/
dist/
*.egg-info/

# =========================
# 환경 변수
# =========================
.env
.env.*

# =========================
# 로그
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
